@page "/"

@using IT.Valor.Common.Models.Index

@inject IApiClient Client
@inject CurrentUser User

<div class="font-italic">
    <h1>Opportunities don't happen. You create them.</h1>
    <p>Welcome to your new world.</p>
</div>
<br />
<br />
@if (User.User.IsAuthenticated)
{
    <h4 class="font-italic">Your random quote for today:</h4>
    <div class="card backgroud-colored">
        <div class="card-body">
            <p class="card-text">@Stats.UserRandomQuote.Content</p>
            <p class="text-muted font-italic">@Stats.UserRandomQuote.AuthorName, @Stats.UserRandomQuote.BookTitle</p>
        </div>
    </div>

    <br />
    <br />

    <h4 class="font-italic">Inspiration for today:</h4>
    <div class="card backgroud-colored">
        <div class="card-body">
            <p class="card-text">@Stats.RandomQuote.Content</p>
            <p class="text-muted font-italic">@Stats.RandomQuote.AuthorName, @Stats.RandomQuote.BookTitle</p>
        </div>
    </div>
}

@code{
    private QuoteStatsDto Stats = new QuoteStatsDto();

    protected override async Task OnParametersSetAsync()
    {
        Stats = await Client.GetStatsAsync();

    }
}
